<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>WeatherApp</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
    [(ngModel)]="searchTerm"
    (keyup.enter)="searchCity()"
    (ionClear)="searchTerm = ''"
    placeholder="Search city..."
    debounce="500">
  </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="getLocation()">GPS</ion-button>
  {{lat}}, {{long}}
  <hr>
  <ion-card
    *ngFor="let city of cities"
    (click)="searchCityFromCard(city.name)"
    style="text-align: center; cursor: pointer;"
  >
    <img [src]="city.image" />
    <ion-card-header>
      <ion-card-title>{{ city.name }}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
